In [1]:
import numpy as numpy
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle
import tensorflow as tf
from tensorflow.keras.models import load_model

WARNING:tensorflow:From c:\Users\rajdw\OneDrive\Desktop\AI-ML\ML PROJECTS\DL PROJECT-1\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
data=pd.read_csv(r"C:\Users\rajdw\OneDrive\Desktop\AI-ML\ML PROJECTS\DL PROJECT-1\Churn_Modelling.csv")

In [3]:
model=load_model('model.h5')


#load encoder and scaler
with open('label_encoder.pkl','rb') as file:
    label_encoder=pickle.load(file)


with open('onehotencoder.pkl','rb') as file:
    onehotencoder=pickle.load(file)


with open('scaler.pkl', 'rb') as file:
    scaler=pickle.load(file)

WARNING:tensorflow:From c:\Users\rajdw\OneDrive\Desktop\AI-ML\ML PROJECTS\DL PROJECT-1\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [4]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [5]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 45,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 250000
}

In [10]:
geo_encoded=onehotencoder.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehotencoder.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\rajdw\OneDrive\Desktop\AI-ML\ML PROJECTS\DL PROJECT-1\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [13]:
input_data=pd.DataFrame([input_data])

In [14]:
input_data=pd.concat([input_data.reset_index(drop=True),geo_encoded_df],axis=1)

In [15]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,Male,45,3,60000,2,1,1,250000,1.0,0.0,0.0

In [17]:
input_data['Gender']=label_encoder.transform(input_data['Gender'])
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,1,45,3,60000,2,1,1,250000,1.0,0.0,0.0

In [19]:
input_data.drop(['Geography'],axis=1,inplace=True)

In [20]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,45,3,60000,2,1,1,250000,1.0,0.0,0.0

In [21]:
#scaling the input data
input_scaled=scaler.transform(input_data)
input_scaled

array([[-0.52111599,  0.91601335,  0.58813815, -0.68538967, -0.2569057 ,
         0.8095029 ,  0.64259497,  0.9687384 ,  2.60412202,  0.98560362,
        -0.5698444 , -0.57369368]])

In [22]:
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 186ms/step

array([[0.00979556]], dtype=float32)

In [24]:
prediction_proba=prediction[0][0]
prediction_proba

0.009795557

In [25]:
if prediction_proba > 0.5:
    print('The customer is likely to churn.')
else:
    print('Not going to churn.')

Not going to churn.